/* You can add global styles to this file, and also import other style files */
@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-balham.css";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

.addnew{font-size:14px;margin-right:4px;background:#06f;color:#fff;border:none;line-height:40px;width:75px;border-radius:4px;padding:0}
.addnew:last-child{margin-right:0}
.addnew.delete,.addnew.edit{font-size:14px}
.ag-theme-balham .ag-header-row{height:42px}
.ag-theme-balham .ag-header-cell,.ag-theme-balham .ag-header-group-cell{padding:13px 8px;font-size:14px;text-transform:capitalize;font-weight:700;color:#000}
.ag-theme-balham .ag-header-cell:after{content:none}
.ag-theme-balham{width:100%;margin:0 auto}
.ag-center-cols-container,.ag-header-container{width:100%!important}
.btn-close{border:none;background:0 0}
button.btn-close{opacity:1;    padding:0 !important;
    font-size: 30px;}
button.btn-close:before{content:'\F62A';font-family: "bootstrap-icons";}
.modal-dialog .readmore{margin-top:10px;background:#65a2d7;color:#fff;border:2px solid #65a2d7;line-height:44px;font-weight:500;padding:0 30px;border-radius:5px}
.modal-dialog .readmore.btn-default{border-color:#333;color:#333;background:0 0}
.invalid_input>div{color:red;margin-top:3px;font-size:13px;display:block}
.astrik{color:red}
.readmore:disabled,button:disabled{cursor:not-allowed;opacity:.5}
.ag-theme-balham .ag-row{height:40px!important}
.ag-theme-balham .ag-ltr .ag-cell{padding:5px 8px;font-size:14px}
.ag-theme-balham .ag-paging-panel{font-size:14px;height:40px}
#toast-container>div{opacity:1}
header{padding:25px 0;background:#0daed3}
header p{margin:0;text-align:center;font-size:25px;color:#fff;text-shadow:2px 2px 0 rgb(0 0 0 / 40%);text-transform:capitalize}
.ag-theme-balham .ag-ltr .ag-cell-focus:not(.ag-cell-range-selected):focus-within,.ag-theme-balham .ag-ltr .ag-cell-range-single-cell,.ag-theme-balham .ag-ltr .ag-cell-range-single-cell.ag-cell-range-handle,.ag-theme-balham .ag-ltr .ag-context-menu-open .ag-cell-focus:not(.ag-cell-range-selected),.ag-theme-balham .ag-ltr .ag-full-width-row.ag-row-focus:focus .ag-cell-wrapper.ag-row-group,.ag-theme-balham .ag-rtl .ag-cell-focus:not(.ag-cell-range-selected):focus-within,.ag-theme-balham .ag-rtl .ag-cell-range-single-cell,.ag-theme-balham .ag-rtl .ag-cell-range-single-cell.ag-cell-range-handle,.ag-theme-balham .ag-rtl .ag-context-menu-open .ag-cell-focus:not(.ag-cell-range-selected),.ag-theme-balham .ag-rtl .ag-full-width-row.ag-row-focus:focus .ag-cell-wrapper.ag-row-group{border-color:transparent}
.ag-theme-balham .ag-checkbox-input-wrapper:active,.ag-theme-balham .ag-checkbox-input-wrapper:focus-within{box-shadow:none}
.ag-theme-balham .ag-checkbox-input-wrapper{width:19px;height:19px}
.ag-theme-balham .ag-checkbox-input-wrapper,.ag-theme-balham .ag-checkbox-input-wrapper.ag-checked::after{font-size:20px}
.ag-theme-balham .ag-checkbox-input-wrapper.ag-checked::after{top:1px}
.modal-header .btn-close{box-shadow:none;line-height:1}

.modal-dialog{}
.modal-dialog .modal-content{border:none;border-radius:20px;}
.modal-header{border:none;padding:35px 35px 15px;}
.modal-header h4{font-weight:700;text-transform:capitalize;font-size:27px}
.modal-body{padding:15px 35px 35px}
.form-group label{display:block;margin-bottom:3px;font-weight:600}
.form-group .form-control{height:48px;border:2px solid #ccc;border-radius:5px}
.form-group .form-control:focus{box-shadow:none;border-color:#555;}