<ng-template #editModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Edit</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="coutry-list-modal">
            <form [formGroup]="editForm" (ngSubmit)="editAction()">
                <div class="form-group mb-2">
                    <input type="hidden" class="form-control" id="id" name="id" requried="" formControlName="id" />

                    <label>Name <span class="astrik">*</span></label>
                    <input type="text" class="form-control" id="name" name="name" requried="" formControlName="name" />
                    <div *ngIf="ef.name.invalid && (ef['name'].dirty || ef['name'].touched)" class="invalid_input">
                        <div *ngIf="ef['name'].errors?.['required']">
                            Name is required.
                        </div>
                    </div>
                </div>
                <div class="row">
                <div class="form-group col-md-6 mb-2">
                    <label>State <span class="astrik">*</span></label>
                    <input type="text" class="form-control" id="state" name="state" requried=""
                        formControlName="state" />
                    <div *ngIf="ef.state.invalid && (ef['state'].dirty || ef['state'].touched)" class="invalid_input">

                        <div *ngIf="ef['state'].errors?.['required']">
                            State is required.
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-6 mb-2">
                    <label>Zip <span class="astrik">*</span></label>
                    <input type="text" class="form-control" id="zip" name="zip" requried="" formControlName="zip" />
                    <div *ngIf="ef.zip.invalid && (ef['zip'].dirty || ef['zip'].touched)" class="invalid_input">

                        <div *ngIf="ef['zip'].errors?.['required']">
                            Zip is required.
                        </div>
                    </div>
                </div>
                </div>
                <div class="row">
                <div class="form-group col-md-6 mb-2">
                    <label>Amount <span class="astrik">*</span></label>
                    <input type="number" step=".01" class="form-control" id="amount" name="amount" requried=""
                        formControlName="amount" />
                    <div *ngIf="ef.amount.invalid && (ef['amount'].dirty || ef['amount'].touched)"
                        class="invalid_input">

                        <div *ngIf="ef['amount'].errors?.['required']">
                            Amount is required.
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-6 mb-2">
                    <label>Qty <span class="astrik">*</span></label>
                    <input type="number" step="1" class="form-control" id="qty" name="qty" requried=""
                        formControlName="qty" />
                    <div *ngIf="ef.qty.invalid && (ef['qty'].dirty || ef['qty'].touched)" class="invalid_input">

                        <div *ngIf="ef['qty'].errors?.['required']">
                            Qty is required.
                        </div>
                    </div>
                </div>
                </div>
                <div class="form-group mb-2">
                    <label>Item <span class="astrik">*</span></label>
                    <input type="text" class="form-control" id="item" name="item" requried="" formControlName="item" />
                    <div *ngIf="ef.item.invalid && (ef['item'].dirty || ef['item'].touched)" class="invalid_input">

                        <div *ngIf="ef['item'].errors?.['required']">
                            Item is required.
                        </div>
                    </div>
                </div>
                <div class="form-group mb-4">
                    <button class="readmore me-2" type="submit" [disabled]="!editForm.valid">Update</button>
                    <button class="readmore btn-default" type="button" (click)="d('Cross click')">Close</button>
                </div>
            </form>
        </div>
    </div>
</ng-template>